<form class="well" (submit)="add($event)">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" [(ngModel)]="nome" name="nome" class="form-control">    
    </div>  
    <div class="form-group">
        <label>Sobrenome</label>
        <input type="text" [(ngModel)]="sobrenome" name="sobrenome" class="form-control">    
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="email" name="email" class="form-control">    
    </div>
    <div class="form-group">
        <label>Senha</label>  
        <input type="text" [(ngModel)]="senha" name="senha" class="form-control">    
    </div>
    <div>
        <button>Submit</button>
    </div> 
</form>

<br>
<br>

<div>
    <div *ngFor="let usuario of usuarios">
        <div class="col-md-7">
            {{ usuario.nome }} ----
            <a (click)="update(usuario)">Update</a>
            <a (click)="delete(usuario._id)">Remove</a>   
        </div> 
        
    </div>
</div>



<router-outlet></router-outlet>
