<div class="navbar-fixed">
<nav>
	<div class="nav-wrapper" >
		<a href="#" class="brand-logo">-->Kaya</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a [routerLink]="['/']">Home</a></li>
			<li *ngIf="isAuth()"><a [routerLink]="['/usuarios']">Usuários</a></li>
			<li *ngIf="!isAuth()"><a [routerLink]="['/registrar']">Registrar</a></li>
			<li *ngIf="!isAuth()"><a [routerLink]="['/login']">Login</a></li>
			<li *ngIf="isAuth()"><a (click)="logout()" [routerLink]="['/']">Log out</a></li>
		</ul>
	</div>
</nav>
</div>

<br>
<br>

<div class="container">
  <router-outlet></router-outlet>
</div>

<br>
<br>