<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="card-stacked">
        <div class="card-content">
          <p>#Id: {{ usuarios?._id }}</p>
          <p>Nome: {{ usuarios?.nome }}</p>
          <p>Sobrenome: {{ usuarios?.sobrenome }}</p>
          <p>Email: {{ usuarios?.email }}</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn" (click)="update()">
            <i class="material-icons left">mode_edit</i>Edit
          </a>
          <a class="waves-effect waves-light btn red" (click)="delete(usuarios._id)">
            <i class="material-icons left">delete</i>Remove
          </a>
          <a class="waves-effect waves-light btn red"
            (click)="onCancel()">Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</div>